{% extends 'manajemen_kontrak/main_template.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %} 

<!-- Content Section -->

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Detail Barang</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'home_dashboard' %}">Home</a></li>
              <li class="breadcrumb-item"><a href="{% url 'EntryBarang' %}">Entry Barang</a></li>
              <li class="breadcrumb-item active">Detail Barang</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="card">
        <div class="card-header">
          <h5>{{detail_barang.nama_barang}}</h5>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <div class="container-fluid">
                <br>
                <div class="row">
                  <table class="table">
                    <tr>
                        <td>Nama Barang</td>
                        <td>{{detail_barang.nama_barang}}</td>
                    </tr>
                    <tr>
                        <td>Satuan</td>
                        <td>{{detail_barang.satuan}}</td>
                    </tr>
                    <tr>
                        <td>Merk</td>
                        <td> {% if detail_barang.merk %} {{detail_barang.merk}} {% endif %}</td>
                    </tr>
                    <tr>
                        <td>Tipe</td>
                        <td>{% if detail_barang.merk %} {{detail_barang.tipe}} {% endif %}</td>
                    </tr>
                    <tr>
                        <td>Spesifikasi</td>
                        <td>{{detail_barang.spesifikasi_dan_gambar|safe}}</td>
                    </tr>
                </table>
              </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
  
      
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

<!-- end of Content Section -->

{% endblock %}