{% extends 'manajemen_kontrak/main_template.html' %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}
{% block content %} 

<!-- Content Section -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Detail Kontrak</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'home_dashboard' %}">Home</a></li>
              <li class="breadcrumb-item"><a href="{% url 'EntryKontrak' tahun %}">Entry Kontrak</a></li>
              <li class="breadcrumb-item active">Detail Kontrak</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="card">
        
          {% for message in messages %}
            <div class="alert alert-default-success alert-dismissible fade show" role="alert">
              <strong>{{message}}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
          {% endfor %}
        
        <!-- /.card-header -->
        <div class="card-body">
            <div class="container-fluid">
                
                <div class="row">
                  <table class="table">
                    <tr>
                        <td>Judul Kontrak</td>
                        <td>: {{detail_kontrak.judul_kontrak}}</td>
                    </tr>
                    <tr>
                        <td>Nomor & Tanggal Kontrak</td>
                        <td>: {{detail_kontrak.nomor_kontrak}}, tanggal {{detail_kontrak.tanggal_kontrak|date:'d-m-yy'}}</td>
                    </tr>
                    <tr>
                        <td>Penyedia</td>
                        <td>: {{detail_kontrak.penyedia.nama_perusahaan}} 
                            <br> &nbsp; {{detail_kontrak.penyedia.alamat_perusahaan}}
                        </td>
                    </tr>
                    <tr>
                        <td>Nilai Kontrak</td>
                        <td>: Rp. {{detail_kontrak.get_jumlahTotal|floatformat:0|intcomma}}</td>
                    </tr>
                    <tr>
                        <td>Tahun Anggaran</td>
                        <td>: {{detail_kontrak.tahun_anggaran}}</td>
                    </tr>
                    <tr>
                        <td>Tanggal berakhir kontrak</td>
                        <td>: {{detail_kontrak.tanggal_berakhir_kontrak|date:'d M Y'}}</td>
                    </tr>
                    <tr>
                        <td>Cara Pembayaran</td>
                        <td>: {{detail_kontrak.cara_pembayaran}}</td>
                    </tr>
                    <tr>
                      <td>Ketentuan Sanksi</td>
                      <td>: {{detail_kontrak.ketentuan_sanksi}}</td>
                    </tr>
                    <tr>
                      <td>Bentuk Kontrak</td>
                      <td>: {{detail_kontrak.bentuk_kontrak}}</td>
                    </tr>
                    <tr>
                        <td>Nomor DIPA</td>
                        <td>: {{detail_kontrak.nomor_dipa}}</td>
                      </tr>
                    <tr>
                        <td>Status Kontrak</td>
                        <td>: {{detail_kontrak.status}}</td>
                    </tr>
                    <tr>
                        <td>File Dokumen Pengadaan</td>
                        <td>: 
                            {% if detail_kontrak.dokumen_pengadaan %}
                                <a class="fa fa-download" target="_blank" aria-hidden="true"  href="{{ detail_kontrak.dokumen_pengadaan.url }}"> unduh berkas</a>
                                {% elif var != detail_kontrak.dokumen_pengadaan %}
                                    N/A
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                      <td colspan="2">
                        <u>Keterangan/Catatan:</u>
                        {{detail_kontrak.keterangan|safe}}
                      </td>
                    </tr>
                </table>
              </div>
              <hr>
              <div class="card-footer">
                <a href="{% url 'tambah_lampiran_kontrak' detail_kontrak.id %}" class="btn btn-primary float-right">+ Tambah Item</a>
              </div>

              <div class="card card-body">
                <form action="" method="POST">
                  {% csrf_token %}
                  <table class="table table-bordered table-striped">
                    <thead>
                      <th class="text-center">No</th>
                      <th class="text-center">Nama Barang</th>
                      <th class="text-center">Spesifikasi</th>
                      <th class="text-center">Kuantitas</th>
                      <th class="text-center">Satuan</th>
                      <th class="text-center">Harga Satuan (Rp)</th>
                      <th class="text-center">Jumlah (Rp)</th>
                    </thead>
                    <tbody>
                          {% for i in item_barang %}
                          <tr>
                            <td class="text-right">{{forloop.counter}}</td>
                            <td>
                              <a href="{% url 'detail_barang' i.barang.id %}">{{i.barang.nama_barang}}</a> &nbsp; <a class="ion ion-android-cancel text-danger" alt="Hapus Data" href="{% url 'hapus_detail_kontrak' i.id %}" onclick="return confirm('Anda yakin akan menghapus data?');"></a>
                              <p>{{i.barang.merk}} {{i.barang.tipe}}</p> 
                              <p><a href="{% url 'foto_item_pekerjaan' i.id %}">foto pekerjaan: <i class="fa fa-file-image" aria-hidden="true"></i></a>
                              &nbsp; <a href="{% url 'tanda_terima_distribusi' i.id %}">Tanda Terima Distribusi: <i class="fa fa-file" aria-hidden="true"></i></a></p>
                            </td>
                            <td>{{i.barang.spesifikasi_dan_gambar|safe}}</td>
                            <td class="text-center">{{i.kuantitas}}</td>
                            <td class="text-center">{{i.barang.satuan}}</td>
                            <td class="text-right">{{i.harga_satuan|floatformat:0|intcomma}}</td>
                            <td class="text-right">{{i.get_jumlah_harga|floatformat:0|intcomma}}</td>
                          </tr>
                          {% endfor %}
                          <tr>
                            <td colspan="6" class="text-right"><b>Jumlah Total (Rp)</b></td>
                            <td class="text-right"><b>{{detail_kontrak.get_jumlahTotal|floatformat:0|intcomma}}</b></td>
                          </tr>
                          <tr></tr>
                    </tbody>
                  </table>
                </form>
          
              </div>
              
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
  
      
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

<!-- end of Content Section -->

{% endblock %}