{% extends 'manajemen_kontrak/main_template.html' %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}
{% block content %} 

<!-- Content Section -->

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Foto </h1>
            <p>Item Pekerjaan : {{lampirankontrak.barang.nama_barang}}</p>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'home_dashboard' %}">Home</a></li>
              <li class="breadcrumb-item"><a href="{% url 'EntryKontrak' tahun %}">Entry Kontrak</a></li>
              <li class="breadcrumb-item"><a href="{% url 'DetailKontrak' lampirankontrak.nomor_kontrak_id %}">Detail Kontrak</a></li>
              <li class="breadcrumb-item active">Foto Pekerjaan</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="card">
        <div class="card-header">
          <h5></h5>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="form-group col-md-12">
                      {% for message in messages %}
                      <div class="alert alert-default-success alert-dismissible fade show" role="alert">
                        <strong>{{message}}</strong>
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                      {% endfor %}
                        <div>
                          <div class="filter-container p-0 row">
                            {% for image in images %}
                            <div class="filtr-item col-sm-2" data-category="2, 4" data-sort="black sample">
                              {% if image.file_foto %}
                              <a href="{{image.file_foto.url}}" data-toggle="lightbox" data-title="{{image.file_foto}}">
                                <img src="{{image.file_foto.url}}" class="img-fluid mb-2" alt="black sample"/>
                              </a>
                              {% endif %}
                            </div>
                            {% endfor %}
                          </div>
                        </div>
                        <h5>Unggah Foto </h5>
                        <form action="" method="POST" enctype="multipart/form-data">
                            {{formset|crispy}}
                            {% csrf_token %}
                            <div class="card-footer">
                                <input type="hidden" name="modified_by" value="{{user.id}}">
                                <button type="submit" class="btn btn-primary float-right">Simpan</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
  
      
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

<!-- end of Content Section -->

{% endblock %}