{% extends 'manajemen_kontrak/main_login.html' %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}
{% block content %} 

<form class="login100-form validate-form" action="#" method="post">
    {% csrf_token %}
    <div class="login100-form-avatar">
        <img src="{% static 'login/images/kemsos.jpg' %}" alt="AVATAR">
    </div>

    <span class="login100-form-title p-t-12 p-b-45">
        SISTEM INFORMASI LAYANAN PENGADAAN
    </span>
    <span class="login100-form-title p-t-8 p-b-45"><small>Masukan email untuk mereset password</small></span>


    <div class="wrap-input100 validate-input m-b-10">
        <form method="POST">
                 {{form|crispy}}
                 {% csrf_token %}
    </div>

    <div class="container-login100-form-btn p-t-10">
        <button class="login100-form-btn">
            Kirim tautan lupa password
        </button>
        </form>
    </div>

    <div class="text-center w-full p-t-25 p-b-230">
        <a href="#" class="txt1">
            <!-- Lupa Username / Password? -->
        </a>
    </div>
</form>

{% endblock %}