{% extends 'manajemen_kontrak/admin_lte/master_template.html' %} 
{% load static %}
{% block content %} 

<!-- Content Section -->

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Manajemen Kontrak</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="">Home</a></li>
              <li class="breadcrumb-item active">Manajemen Kontrak</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>{{total_barang}}</h3>

                <p>Entry Barang</p>
              </div>
              <div class="icon">
                <i class="ion ion-bag"></i>
              </div>
              <a href="{% url 'EntryBarang' %}" class="small-box-footer">Lebih detail <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>{{total_penyedia}}</h3>

                <p>Entry Penyedia</p>
              </div>
              <div class="icon">
                <i class="ion ion-ios-compose-outline"></i>
              </div>
              <a href="{% url 'EntryPenyedia' %}" class="small-box-footer">Lebih detail <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>{{total_kontrak}} </h3>

                <p>Entry Kontrak</p>
              </div>
              <div class="icon">
                <i class="ion ion-document"></i>
              </div>
              <a href="{% url 'EntryKontrak' tahun %}" class="small-box-footer">Lebih detail <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3># </h3>

                <p>Repositori Harga</p>
              </div>
              <div class="icon">
                <i class="ion ion-android-search"></i>
              </div>
              <a href="{% url 'under_contructions' %}" class="small-box-footer">Lebih detail <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
        </div>
        <!-- /.row -->

        <div class="row">
          <div class="col-md-12">
            <div class="sticky-top mb-3">
              <div class="card">
                <div class="card-body">
                  <!-- the events -->
                  <div id="external-events">
                    <!-- Buat sesuatu disini -->
                    
                  </div>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
              
            </div>
          </div>
          <!-- /.col -->
          <div class="col-md-12">
            <div class="card card-primary">
              <div class="card-body p-0">
                <!-- THE CALENDAR -->
                <div id="calendar"></div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
        
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

<!-- end of Content Section -->

{% endblock %}