{% extends 'manajemen_kontrak/main_template.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %} 

<style>
	.profile-pic{
		max-width: 200px;
		max-height:200px;
		margin: 0 auto;
		border-radius: 50%;
	}
</style>

<!-- Content Section -->
<div class="content-wrapper">

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                <h4>Biodata Pegawai Bersertifikat Ahli Pengadaan</h4>
                </div>
                <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'home_dashboard' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'pegawai_bersertifikat' %}">Data Sertifikasi Pengadaan</a></li>
                    <li class="breadcrumb-item active">Biodata</li>
                </ol>
                </div>
            </div>
            </div><!-- /.container-fluid -->
        </section>

        <section class="content">
            <div class="container-fluid">
            <br>
            {% for message in messages %}
                      <div class="alert alert-default-success alert-dismissible fade show" role="alert">
                        <strong>{{message}}</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
            {% endfor %}

            <div class="row">
                <div class="col-md-4">
                    <div class="card card-body">
                        <h3 style="text-align: center"></h3>
                        {% if data_pegawai.foto %}
                          <img class="profile-pic" src="{{data_pegawai.foto.url}}" >
                        {% else %}
                          <img class="profile-pic" src="https://simpel.lpse.kemsos.go.id/media/profilepics/avatar.jpeg" >
                        {% endif %}
                        <h3 class="profile-username text-center">
                        	{% if gelar_preffix %}
                        		{{ gelar_preffix }}
                        	{% endif %}
                        	{{data_pegawai.nama}}{% if gelar_suffix %}, {{gelar_suffix}}{% endif %}
                    	</h3>
                    	<p class="text-muted text-center">{{ nip }}</p>
                        <p class="text-muted text-center">{{ jabatan }}</p>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card card-body table-responsive p-0">
                      <table class="table table-bordered table-striped">
                        <tr>
                          <td>Status Kepegawaian</td>
                          <td>:</td>
                          <td>{{ data_pegawai.status_kepegawaian }}</td>
                        </tr>
                        <tr>
                          <td>Terdaftar Sebagai Pokja</td>
                          <td>:</td>
                          <td>{{ data_pegawai.sebagai_pokja_pemilihan }}</td>
                        </tr>
                        <tr>
                          <td>SK Pokja</td>
                          <td>:</td>
                          <td>
                            {% if data_pegawai.sk_pokja %}
                            <a class="fa fa-download" href="{{ data_pegawai.sk_pokja.file_sk.url }}" target="_blank">
                                {{ data_pegawai.sk_pokja.nomor_sk }}, tanggal {{ data_pegawai.sk_pokja.tanggal_sk|date:'d-M-Y' }}
                            </a>
                            {% else %}
                              -
                            {% endif %}
                          </td>
                        </tr>
                      	<tr>
                      		<td>Unit Kerja</td>
                      		<td>:</td>
                      		<td>{{ unit_kerja }}</td>
                      	</tr>
                      	<tr>
                      		<td>Alamat Email</td>
                      		<td>:</td>
                      		<td>{{ data_pegawai.email }}</td>
                      	</tr>
                      	<tr>
                      		<td>Nomor HP</td>
                      		<td>:</td>
                      		<td>{{ data_pegawai.nomor_hp }}</td>
                      	</tr>
                      	<tr>
                      		<td>Nomor Sertifikat / Tanggal</td>
                      		<td>:</td>
                      		<td>
                      		 {% if data_pegawai.nomor_sertifikat %}
                      			{{ data_pegawai.nomor_sertifikat }}, {{ data_pegawai.tanggal_sertifikat|date:'d-m-Y' }}
                      		 {% else %}
                      		 	<p>-</p>
                      		 {% endif %}

                      		</td>
                      	</tr>
                      	<tr>
                      		<td>Jenis Sertifikat</td>
                      		<td>:</td>
                      		<td>{{ data_pegawai.jenis_sertifikat }}</td>
                      	</tr>
                      	<tr>
                      		<td>File Sertifikat</td>
                      		<td>:</td>
                      		<td>
		                    {% if data_pegawai.file_sertifikat %}
		                      <a href="{{ data_pegawai.file_sertifikat.url }}" target="_blank"><i class="fa fa-download" aria-hidden="true"> Unduh</i></a>
		                    {% elif var != data_pegawai.file_sertifikat %}
		                        <p>-</p>
		                    {% endif %}
                      		</td>
                      	</tr>
                      	<tr>
                      		<td>NPWP</td>
                      		<td>:</td>
                      		<td>{{ npwp }}</td>
                      	</tr>
                      </table>
                       
                    </div>
                </div>
            </div>
            </div>
        </section>


</div>

<!-- end of Content Section -->
{% endblock %}