{% extends 'manajemen_kontrak/main_template.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block content %} 

<!-- Content Section -->

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h5 class="m-0">Data Pegawai Bersertifikat Ahli Pengadaan Barang/Jasa</h5>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
               <li class="breadcrumb-item"><a href="{% url 'home_dashboard' %}">Home</a></li>
               <li class="breadcrumb-item active">Pegawai Bersertifikat Pengadaan</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="card">
        <div class="card-header">
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal1">+ Tambah</button>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          {% for message in messages %}
            <div class="alert alert-default-success alert-dismissible fade show" role="alert">
              <strong>{{message}}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
          {% endfor %}
          <table id="example1" class="table table-bordered table-striped ">
            <thead>
            <tr>
              <th class="text-center">No</th>
              <th class="text-center">Nama Pegawai</th>
              <th class="text-center">NIP</th>
              <th class="text-center">Status Kepegawaian</th>
              <th class="text-center">Email</th>
              <th class="text-center">File Sertifikat</th>
              <th class="text-center">Detail</th>
            </tr>
            </thead>
            <tbody>
              {% for data in data_objects %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ data.nama }}</td>
                  <td>{{ data.nip }}</td>
                   <td class="text-center">{{ data.status_kepegawaian }}</td>
                  <td>{{ data.email }}</td>
                  <td class="text-center">
                    {% if data.file_sertifikat %}
                        <a href="{{ data.file_sertifikat.url }}" target="_blank"><i class="fa fa-download" aria-hidden="true"> unduh</i></a>
                    {% elif var != data.file_sertifikat %}
                        <p>Tidak Tersedia</p>
                    {% endif %}
                  </td>
                  <td class="text-center">
                    <a class="ion ion-eye text-primary identifyingClass" href="{% url 'detail_pegawai_bersertifikat' data.id %}"> &nbsp;</a>
                    <a class="ion ion-edit text-success" href="{% url 'edit_pegawai_bersertifikat' data.id %}"> &nbsp;</a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

      <!-- modal start -->
      <div class="modal hide fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalBarangLabel">Tambah Pegawai</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                      <div class="card-header">
                        <h3 class="card-title"></h3>
                      </div>
                      <!-- /.card-header -->
                      <!-- form start -->
                      <div class="card-body">
                        <form action="" method="POST">
                            {% csrf_token %}
                            {{form|crispy}}
                            <input type="hidden" name="created_by" value="{{user.id}}">
                      </div>
                      <div class="card-footer">
                          <button type="submit" class="btn btn-primary float-right">Simpan</button>
                        </form>
                        <!-- form end -->
                      </div>   
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

<!-- end of Content Section -->

{% endblock %}