{% extends 'manajemen_kontrak/main_template.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load blog_tags %}


{% block content %} 
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-9">
            <!-- Profile Image -->
            <div class="card card-primary card-outline">
              <div class="card-body box-profile">
              	<div class="user-block">
	              	{% for post in posts %}
	              	<img class="img-circle img-bordered-sm" src="
	              	{{post.author.useradmin.profil_pic.url}}" 
	              	alt="user image">
                        <span class="username">
                          <h5><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h5>
                          <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
                        </span>
	              		<span class="description">Ditayangkan pada tanggal {{ post.publish|date:'d-m-Y' }}</span>
                    <p>Tags: {{ post.tags.all|join:", " }}</p>
	              		<p>{{ post.body|truncatewords:30|linebreaks }} <small>oleh: {{ post.author.useradmin.nama }}</small> </p>
	              		<hr>
	                {% endfor %}
            	</div>
              </div>
              <!-- /.card-body -->
            </div>
            {% include "knowledge_base/post/pagination.html" with page=posts %}
            <!-- /.card -->
          </div>
          <!-- /.col -->
          <div class="col-md-3">
            <div class="card">
              <div class="card-body">
                <div class="tab-content">
                    <h3>Postingan terakhir</h3>
                    {% show_latest_posts 3 %}
                </div>
                <!-- /.tab-content -->
              </div><!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

<!-- end of Content Section -->

{% endblock %}